<form>
<div id="wrapper">
  <h1>
    <a onclick="location.href='https://www.google.com/'" type="button" class = "aclass">
           LOG IN
    </a>
  </h1>
  <div class="searchsection">
    <div class="searchbox">
      <md-input-container>
        <input mdInput
               [(ngModel)]="term"
               name="term"
               size="60"
               placeholder=" "
               type="text"
               class="text-line"
               required>
      </md-input-container>
    </div>
    <div class="button">
      <button md-button (click) = "search()" >SEARCH</button>
    </div>
  </div>
</div>
</form>
<li *ngFor = 'let result of results'>
  {{result}}
</li>
