/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Josefin+Sans');
@import url("https://fonts.googleapis.com/css?family=Balthazar");*/
/*@import url("https://fonts.googleapis.com/css?family=Oswald:200");*/
/*@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:100|Oswald:200");*/
/*@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100|Josefin+Slab:100|Oswald:200");
@import url("https://fonts.googleapis.com/css?family=Alegreya+SC|Alegreya+Sans+SC:100,300|Josefin+Slab:100|Oswald:200");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");*/
/*@import url("https://fonts.googleapis.com/css?family=Play:400");
/*@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300" );*/
@import url("https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Fira+Sans+Extra+Condensed:100");

/*{
    border: solid 1px white;
}*/

form {
    
    /*background-size: cover;*/
    min-height: 100%;
    min-width: 100%;

}
a{
    text-decoration: none;

}
#crnrcont {

    padding-top: 120px;
}
#resultscont{

    font-family: "Josefine Sans", sans-serif;
    color: rgba(255,255,255,0.7);
    width: 80%;
    height:inherit;
    background-color: rgba(255,255,255,0.4);
    z-index: 1000;
    border-radius: 5px;


}
.text-line {
    /*background-color: rgba(0,0,0,0.6);*/
    color: white;
    outline: none;
    outline-style: none;
    border-top: none; 
    border-left: none;
    border-right: none; 
    color: white;
    font-size: 32px;
    width: 500px;   
    border-radius: 5px;

}


 h1{
    color: rgba(255,255,255,0.7);
   /* background-color: rgba(255,255,255,0.2);*/
    width:70%;
    height: 82px;
    /*font-size: 100px;*/
    font-family: 'Carrois Gothic SC', sans-serif;
    /*font-family:'Fira Sans Extra Condensed', sans-serif;*/
    font-size: 84px;
    padding-top: 30px;
    padding-right: 10px;
    font-weight: lighter;
     /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/

 }
 nav{
    padding-top: 15px;
    color: white;
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;

 }

.searchbox, input{
    width: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;


}

.button{
    font-size: 1.6em;
    font-weight: bold;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-right: 25px;


}

md-raised-button {

    font-family: 'Alegreya Sans SC', sans-serif;


}
/*
md-input-container {
    display: inline;
    position: relative;
    border-top: none; 
    border-left: none;
    border-right: none; 
    border-bottom: solid white 2.5px;
    padding-left: 100px;
    z-index:1000;
    height: 75px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 36px;
    color: white;
*/
.searchbox{
    color: white;
}