<form>
  <div fxLayoutAlign="end center" fxLayout="row" fxLayoutGap="5px">
     <div fxFlex = "7%" fxFlexOffset ="0px">
       <nav>
          <a onclick="location.href='https://www.google.com/'" type="button" class = "aclass">
               LOG IN
          </a>
        </nav>
      </div>
  </div>
  <div id ="crnrcont" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="2px">
    
    <a href= "/" ><h1 fxLayoutAlign="center center"> Cornerstone </h1></a>
  
    <div>
      <md-input-container 
        [color]="ffffff"
        class="searchbox">
        <input mdInput
               [(ngModel)]="term"
               name="term"
               size="60"
               placeholder=" "
               type="text"
               class="text-line"
               >
      </md-input-container>
    </div>
    <div class="button">
      
        <button md-raised-button (click) = "search()" [routerLink]="['./results']">SEARCH</button>
        <!--<button md-raised-button (click) = "search()" >SEARCH</button>-->
  
    </div>
    <div id = resultscont>
      <div *ngFor = 'let result of results'>
          {{result}}
      </div>
    </div>
  </div>
</form>
