@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Josefin+Sans');

/*{

  border: solid black 1px;
}*/
h1{
    color: rgba(255,255,255,0.7);
    font-size: 100px;
    font-family: "Josefin Sans", sans-serif;
 }
h2{

	color: rgba(255,255,255,0.7);
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;;

}
p, li {
	font-size: 15pt;
	width: 100%;
  padding: 3px 0px;
	text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: rgba(255,255,255,0.7);
  z-index: 1000;
  overflow-y: scroll;
}
form {
    
    /*background-size: cover;*/
    min-height: 100%;
    min-width: 100%;
}
#historycont{

  background-color: rgba(255,255,255,0.4);
  width: 50%;
}
md-input-container {
	height:35px;
}
.button{
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;

}
