@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Josefin+Sans');

/*{
    border: solid 1px white;
}*/
form {
    
    /*background-size: cover;*/
    min-height: 100%;
    min-width: 100%;
}

#crnrcont {

    padding-top: 115px;
}
#resultscont{

    font-family: "Josefine Sans", sans-serif;
    color: rgba(255,255,255,0.7);
    width: 80%;
    background-color: rgba(255,255,255,0.4);


}


li {

    padding: 5px 0px;
}
.text-line {
    background-color: transparent;
    color: white;
    outline: none;
    outline-style: none;
    border-top: none; 
    border-left: none;
    border-right: none; 
    color: white;
    font-size: 36px;
    height: 50px;
    width: 500px;  
}
 h1{
    color: rgba(255,255,255,0.7);
   /* background-color: rgba(255,255,255,0.2);*/
    width: 100%;
    font-size: 100px;
    font-family: "Josefin Sans", sans-serif;
 }
 nav{
    padding-top: 15px;
    color: white;
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
 }

.searchbox, input{
    width: 100%;
    font-family: "Josefine Sans", sans-serif;
}

.button{
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;

}

md-raised-button {

    font-family: "Josefin Sans", sans-serif;
}

md-card-content{
    color: lightblue;
    border-color: #000000 #ffffff #ffffff #000000;
    font-size:15px;
    height: 20px;
    border-style:double;
    text-align: left;
    align-content: left;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 300px;
    border-left-style: groove;
    border-right-style: outset;
    box-shadow: 0 10px 8px 0 rgba(0,0,8,0.2);
    width: 700px;
    height: 30px;
    background-color: white;
    
}
/*
md-input-container {
    display: inline;
    position: relative;
    border-top: none; 
    border-left: none;
    border-right: none; 
    border-bottom: solid white 2.5px;
    padding-left: 100px;
    z-index:1000;
    height: 75px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 36px;
    color: white;
*/
