<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="app.component.css" rel="stylesheet" type="text/css"> -->
  </head>
  <body>

      <h1>
        Cornerstone
      </h1>

      <form>
      <md-input-container>
        <input mdInput
         [(ngModel)]="term"
         name="term"
         placeholder=""
         type="text"
         required>
       </md-input-container>

       <button md-raised-button (click)="search()">Search</button>


      <!-- <button onclick="location.href='nextpage.html'" type="button">
        search</button> -->
      </form>
      <p>
        You just searched for {{term}} and the result is {{result}}
      </p>
  </body>
</html>
