<!DOCTYPE html>
<html>
  <head>
    <!-- <link href="app.component.css" rel="stylesheet" type="text/css"> -->
  </head>
  <body>

    <!-- <md-menu #appMenu="mdMenu">
    <button md-menu-item> Settings </button>
    <button md-menu-item> Help </button>
    </md-menu>

    <button md-icon-button [mdMenuTriggerFor]="appMenu">
      <md-icon>more_vert</md-icon>
    </button>-->

      <h1>
        Cornerstone
      </h1>

      <form>
      <md-input-container>
        <input mdInput

         name="term"
         placeholder=""
         type="text"
         required>
       </md-input-container>

       <button md-raised-button (click)="search()">Search</button>


      <!-- <button onclick="location.href='nextpage.html'" type="button">
        search</button> -->
      </form>

      <p *ngFor = "let result of results">

        You just searched for {{result.title}} and the result is {{result.url}}
      </p>
  </body>
</html>
